*{
	font-family: 'Helvetica LT Std', sans-serif;
	letter-spacing:.05em;
	font-size:100%;
	line-height:1em;
}

html{
	height:100%;
}
body{
	min-height:100%;
	position:relative;
	overflow:hidden;
}
body.initial-load{
	overflow:auto;
}

.initial-load #loading{
	visibility:hidden;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#loading{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99;
	-webkit-transition: all 400ms ease;
	transition:all 400ms ease;
	background:#D62631;
}
#loading>svg{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	width:30%;
}
#loading>svg>path{
	-webkit-transform-origin:center;
	        transform-origin:center;
}
#loading>svg>path:nth-child(1){
	-webkit-animation: 1.2s ease 0s forwards infinite clockwise;
	        animation: 1.2s ease 0s forwards infinite clockwise;
}
#loading>svg>path:nth-child(2){
	-webkit-animation: 1.2s ease 300ms forwards infinite anticlockwise;
	        animation: 1.2s ease 300ms forwards infinite anticlockwise;
}
#loading>svg>path:nth-child(3){
	-webkit-animation: 1.2s ease 600ms forwards infinite anticlockwise;
	        animation: 1.2s ease 600ms forwards infinite anticlockwise;
}
#loading path{
	fill:white;
}

@-webkit-keyframes clockwise {
	from { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
	to   { -webkit-transform:rotate(360deg); transform:rotate(360deg); }
}

@keyframes clockwise {
	from { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
	to   { -webkit-transform:rotate(360deg); transform:rotate(360deg); }
}

@-webkit-keyframes anticlockwise {
	from { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
	to   { -webkit-transform:rotate(-360deg); transform:rotate(-360deg); }
}

@keyframes anticlockwise {
	from { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
	to   { -webkit-transform:rotate(-360deg); transform:rotate(-360deg); }
}

header,footer{
	-webkit-transition: all 400ms ease;
	transition:all 400ms ease;
}
body.reading header{
	-webkit-transform:translate(0,-100%);
	        transform:translate(0,-100%);
}
body.reading footer{
	-webkit-transform:translate(0,100%);
	        transform:translate(0,100%);
}

header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:2;
}
header>nav>ul{
	display:block;
	text-align:center;
	margin:30px 0;
	padding:0;
}
header>nav>ul>li{
	display:inline-block;
	margin-right:80px;
}
header>nav>ul>li:last-child{
	margin-right:0;
}
header>nav>ul>li>a{
	display:block;
	line-height:1.4em;
	text-transform:uppercase;
	font-size:.8em;
	padding:13px 20px 10px;
	position:relative;
}
header>nav>ul>li:hover>ul{
	visibility:visible;
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
header>nav>ul>li>ul{
	padding:0;
	margin:0;
	list-style-type:none;
	position:absolute;
	top:100%;
	left:50%;
	text-align:center;
	-webkit-transform:translate(-50%,0);
	        transform:translate(-50%,0);
	white-space:nowrap;
	padding-top:8px;
	visibility:hidden;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 400ms ease;
	transition:all 400ms ease;
}
header>nav>ul>li>ul>li{
	display:block;
	white-space:nowrap;
	padding-bottom:6px;
}
header>nav>ul>li>ul>li>a{
	box-sizing:border-box;
	display:block;
	line-height:1em;
	text-transform:uppercase;
	font-size:.5em;
	padding:9px 10px 6px;
	position:relative;
}

#logo{
	display:block;
	height:40px;
	position:fixed;
	top:50%;
	left:40px;
	-webkit-transform:translate(0,-50%);
	        transform:translate(0,-50%);
}
#logo>svg{
	height:100%;
}

.button{
	display:inline-block;
	padding:10px 18px 8px;
	font-size:.9em;
	border:1px solid #D62631;
	text-decoration:none;
	color:#D62631;
	cursor:pointer;
}
.button:hover{
	color:white;
	background:#D62631;
}

.body .address,.body .contact,.body .job{
	text-align:center;
	margin-bottom:20px;
}
.body .address>ul,.body .contact>ul{
	list-style-type:none;
	padding:0;
	margin:0;
	display:inline-block;
	text-align:left;
}
.body .contact>ul>li>span:first-child{
	font-weight:bold;
	margin-right:4px;
}
.job>ul{
	text-align:left;
	list-style-type:none;
	margin:0;
	padding:0;
}
.job>ul>li{
	border-bottom:1px solid #D62631;
	padding:8px 0;
	position:relative;
}
.job>ul>li:last-child{
	border-bottom:none;
}
.job>ul>li>.caret{
	position:absolute;
	top:16px;
	right:10px;
	width:10px;
	height:10px;
	cursor:pointer;
	-webkit-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	-webkit-transition: all 200ms ease;
	transition:all 200ms ease;
}
.job>ul>li.active>.caret{
	-webkit-transform:rotate(45deg);
	        transform:rotate(45deg);
}
.job>ul>li>.caret:after,.job>ul>li>.caret:before{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:2px;
	background:#D62631;
	-webkit-transform-origin:50% 50%;
	        transform-origin:50% 50%;
}
.job>ul>li>.caret:after{
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}
.job>ul>li>.caret:before{
	-webkit-transform:translate(-50%,-50%) rotate(90deg);
	        transform:translate(-50%,-50%) rotate(90deg);
}
.job>ul>li>.name{
	line-height:1.4em;
	font-weight:bold;
	padding-top: .3em;
	display:block;
	cursor:pointer;
}
.job>ul>li>.body{
	display:none;
	margin:8px 0;
}
.job>ul>li.active>.body{
	display:block;
}
.job>ul>li>.body>.flex>span{
	margin-right:20px;
}
.job>ul>li.active>.body>.links{
	display:block;
	text-align:right;
	margin-top:10px;
}

.social{
	position:fixed;
	top:50%;
	right:40px;
	-webkit-transform:translate(0,-50%);
	        transform:translate(0,-50%);
	list-style-type:none;
	padding:0;
	margin:0;
}
.social>li{
	margin-bottom:12px;
}
.social>li:last-child{
	margin:0;
}
.social>li>a{
	display:block;
	width:28px;
	height:28px;
	border-radius:50%;
}
.social>li>a.facebook{
	background:#3D5B97 url('../../assets/svg/social/facebook.svg') no-repeat center / 50% auto;
}
.social>li>a.twitter{
	background:#5AADEB url('../../assets/svg/social/twitter.svg') no-repeat center / 50% auto;
}
.social>li>a.instagram{
	background:#E24361 url('../../assets/svg/social/instagram.svg') no-repeat center / 50% auto;
}

/*message*/
#message{
	position:fixed;
	top:50%;
	left:50%;
	min-width:400px;
	padding:40px;
	box-sizing:border-box;
	background:white;
	border:1px solid #D62631;
	color: #D62631;
	z-index:10;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility:hidden;
	-webkit-transform-origin:0 0;
	        transform-origin:0 0;
	-webkit-transition: all 400ms ease;
	transition:all 400ms ease;
	-webkit-transform:scale(.7) translate(-50%,-50%);
	        transform:scale(.7) translate(-50%,-50%);
}
#message.active{
	-webkit-transform:scale(1) translate(-50%,-50%);
	        transform:scale(1) translate(-50%,-50%);
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility:visible;
}
#message>.close{
	position:absolute;
	top:16px;
	right:16px;
	width:16px;
	height:16px;
	cursor:pointer;
	-webkit-transform-origin:50% 50%;
	        transform-origin:50% 50%;
	-webkit-transition: all 200ms ease;
	transition:all 200ms ease;
	-webkit-transform:rotate(45deg);
	        transform:rotate(45deg);
}
#message>.close:after,#message>.close:before{
	content:"";
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	height:2px;
	background:#D62631;
	-webkit-transform-origin:50% 50%;
	        transform-origin:50% 50%;
}
#message>.close:after{
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}
#message>.close:before{
	-webkit-transform:translate(-50%,-50%) rotate(90deg);
	        transform:translate(-50%,-50%) rotate(90deg);
}
#message>form{
	display:block;
}
#message>form>h2{
	font-size:1.2em;
	margin:.4em 0;
	text-transform:uppercase;
}
#message>form>.input{
	text-align:left;
	margin-top:30px;
}
#message>form>.input>label{
	display:block;
	line-height:1.6em;
}
#message>form>.input>input,#message>form>.input>textarea{
	padding:8px 10px;
	margin:0;
	display:block;
	width:100%;
	box-sizing:border-box;
	border:1px solid #ddd;
	font-size:.8em;
}
#message>form>.input>.red{
	border:1px solid #D62631;
}
#message>form>.input>textarea{
	min-height:100px;
}

div.body{
	padding:100px 0 200px;
	box-sizing:border-box;
}

.center{
	max-width:960px;
	margin:0 auto;
}

.float-remove:after {
	content:"";
	display:table;
	clear:both;
}
.middle{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}

.background{
	overflow:hidden;
}
.portrait>img{
	height:100%;
}
.landscape>img{
	height:auto;
	width:100%;
}

.text-align-center{
	text-align:center;
}

.animated-button{
	position:relative;
}
.animated-button>a{
	text-decoration:none;
}
.animated-button>svg{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	left:0;
	z-index:-1;
}
.animated-button>svg>rect{
	-webkit-transition: all 400ms cubic-bezier(.33,.76,.24,1.28) ;
	transition:all 400ms cubic-bezier(.33,.76,.24,1.28) ;
}

.note{
	text-transform:uppercase;
	padding:20px 0;
	position:relative;
	-webkit-transition: all 600ms cubic-bezier(.33,.76,.24,1.28) ;
	transition:all 600ms cubic-bezier(.33,.76,.24,1.28) ;
}
.note:hover{
	letter-spacing:0.1em;
}
.note:after{
	position:absolute;
	top:100%;
	left:50%;
	content:"";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
	-webkit-transform:translate(-50%,0);
	        transform:translate(-50%,0);
	-webkit-transition: all 600ms cubic-bezier(.54,.38,.04,.93);
	transition:all 600ms cubic-bezier(.54,.38,.04,.93);
	-webkit-animation:moving 1s infinite alternate;
	        animation:moving 1s infinite alternate;
}
@-webkit-keyframes moving {
	from {
		-webkit-transform:translate(-50%,-20%);
		        transform:translate(-50%,-20%);
	}

	to {
		-webkit-transform:translate(-50%,20%);
		        transform:translate(-50%,20%);
	}
}
@keyframes moving {
	from {
		-webkit-transform:translate(-50%,-20%);
		        transform:translate(-50%,-20%);
	}

	to {
		-webkit-transform:translate(-50%,20%);
		        transform:translate(-50%,20%);
	}
}
.note:hover:after{
	-webkit-transform:translate(-50%,50%);
	        transform:translate(-50%,50%);
}

.works{
	margin:60px 0;
}
.action-tile{
	background-image: -webkit-linear-gradient(bottom, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	background-image: linear-gradient(to top, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.action-tile.primary{
	height:600px;
}
.action-tile{
	overflow:hidden;
	position:relative;
}
.action-tile>img{
	height:100%;
	display:block;
	visibility:hidden;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform-origin:0 0;
	        transform-origin:0 0;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	-webkit-transition: all 600ms cubic-bezier(.54,.38,.04,.93);
	transition:all 600ms cubic-bezier(.54,.38,.04,.93);
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.action-tile.portrait>img{
	height:100%;
}
.action-tile.landscape>img{
	height:auto;
	width:100%;
}
.action-tile:hover>img {
	-webkit-filter: grayscale(0);
	filter: none;
	-webkit-transform:scale(1.05) translate(-50%,-50%);
	        transform:scale(1.05) translate(-50%,-50%);
}
.action-tile.active>img{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility:visible;
}
.action-tile>.cover{
	font-size:.8em;
	color:white;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
}
.action-tile>.cover>.line{
	position:absolute;
	top:50%;
	left:50%;
	height:2px;
	width:0;
	z-index:2;
	background:white;
	-webkit-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
	-webkit-transition: all 400ms cubic-bezier(.54,.38,.04,.93);
	transition:all 400ms cubic-bezier(.54,.38,.04,.93);
}
.action-tile>.cover:before{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
	background:rgba(0,0,0,.5);
	z-index:1;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 400ms cubic-bezier(.54,.38,.04,.93);
	transition:all 400ms cubic-bezier(.54,.38,.04,.93);
}
.action-tile:hover>.cover:before{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition-delay:1s;
	        transition-delay:1s;
}
.action-tile:hover>.cover>.line{
	width:calc(100% - 40px);
	-webkit-transition-delay:1.2s;
	        transition-delay:1.2s;
}
.action-tile>.cover>h2{
	position:absolute;
	bottom:50%;
	left:50%;
	-webkit-transform:translate(-50%,2px);
	        transform:translate(-50%,2px);
	z-index:2;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	font-weight:normal;
	color:white;
	-webkit-transition: all 400ms cubic-bezier(.54,.38,.04,.93);
	transition:all 400ms cubic-bezier(.54,.38,.04,.93);
}
.action-tile:hover>.cover>h2{
	-webkit-transform:translate(-50%,-5px);
	        transform:translate(-50%,-5px);
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition-delay:1.4s;
	        transition-delay:1.4s;
}
.action-tile>.cover>p{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,2px);
	        transform:translate(-50%,2px);
	width:70%;
	z-index:2;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	line-height:2em;
	-webkit-transition: all 400ms cubic-bezier(.54,.38,.04,.93);
	transition:all 400ms cubic-bezier(.54,.38,.04,.93);
}
.action-tile:hover>.cover>p{
	-webkit-transform:translate(-50%,5px);
	        transform:translate(-50%,5px);
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition-delay:1.6s;
	        transition-delay:1.6s;
}

.flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.flex-space-between{
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
}

/*cover-image*/
#cover-image{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
}
#cover-image:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.4);
}
#cover-image>img{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 400ms ease 400ms;
	transition:all 400ms ease 400ms;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.68504 0.28608 0.028880000000000003 0 0 0.08504 0.88608 0.028880000000000003 0 0 0.08504 0.28608 0.62888 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: blur(5px) grayscale(40%);
	        filter: blur(5px) grayscale(40%);
	-webkit-transform:scale(1.1);
	        transform:scale(1.1);
}
#cover-image.active>img{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*middle.links*/
.middle.links{
	padding:0;
	margin:0;
	list-style-type:none;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.middle.links>.animated-button>svg{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 200ms ease;
	transition:all 200ms ease;
}
.middle.links>.animated-button:hover>svg{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.middle.links>li{
	margin-bottom:10px;
}
.middle.links>li>a {
	display: block;
	line-height: 1.4em;
	text-transform: uppercase;
	font-size: .8em;
	padding: 14px 20px 12px;
}

/*title*/
.title{
	margin:40px 0;
}
.title>h1{
	text-align:center;
	font-size:1.4em;
	text-transform:uppercase;
	letter-spacing:.1em;
}

/*markdown*/
.markdown img{
	width:100%;
	display:block;
}
.markdown p{
	margin:2em 0;
	line-height:1.2em;
}

/*project*/
.projects{
	margin:-8px;
}
.projects>.mix{
	width:calc((100% - (16px * 3)) / 3);
	margin:8px;
	float:left;
}
.projects>.mix>.action-tile{
	height:200px;
}

.control{
	list-style-type:none;
	padding:0;
	margin:0;
	margin-bottom:40px;
	text-align:center;
}
.control>li{
	display:inline-block;
	margin-right:20px;
}
.control>li:last-child{
	margin-right:0;
}
.control>li>a{
	display: block;
	line-height: 1.2em;
	text-transform: uppercase;
	font-size: .7em;
	padding: 10px 18px 8px;
	cursor:pointer;
}
.control>li.mixitup-control-active>a{
	background:#D62631;
	color:white;
}

/*details*/
.details{
	margin:20px 0;
}
.details>ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
.details>ul>li{
	margin:6px 0;
}
.details>ul>li>span:first-child{
	font-weight:bold;
	margin-right:6px;
}

.swiper-container {
	width: 100%;

}
.swiper-slide {
	position:relative;
	width:100%;
	height: 100%;
	background:#eee;
}
.swiper-slide img {
	width:100%;
	height:100%;
	-o-object-fit:contain;
	   object-fit:contain;
}
.gallery-top {
	height: 800px;
	width: 100%;
}
.gallery-thumbs {
	height: 120px;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	width: 20%;
	height: 100%;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	cursor:auto;
}

footer{
	border-top:1px solid black;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:10;
}
footer>div.top{
	height:0;
	position:relative;
}
footer>div.top .arrow{
	position:absolute;
	bottom:20px;
	left:50%;
	-webkit-transform:translate(-50%,0);
	        transform:translate(-50%,0);
	width:30px;
	height:20px;
}
footer>div.top .message{
	position:absolute;
	bottom:20px;
	padding:10px 14px 8px;
	font-size:.7em;
	border-radius:3px;
	cursor:pointer;
}
footer>div.top .message>span{
	display:inline-block;
	vertical-align:bottom;
}
footer>div.top .message>.svg{
	height:12px;
	width:12px;
	margin-right:6px;
}
footer>div.top .message>.svg>svg{
	display:block;;
	height:100%;
	width:100%;
}
footer>div.center{
	padding:20px;
}
footer>div.center>.address>ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-right:60px;
	text-align:left;
}
footer>div.center>.address>ul:last-child{
	margin-right:0;
}
footer>div.center>.address>ul>li{
	font-size:.8em;
	line-height:1.4em;
}
footer>div.center>.address>ul>li>span:first-child{
	font-weight:bold;
	margin-right:6px;
}
footer>div.center>#ique{
	width:70px;
	display:block;
}
footer>div.center>#ique>svg{
	width:100%;
	height:100%;
}

.swiper-button-next.swiper-button-red{
	background:url('../../assets/svg/red-next.svg') no-repeat center / contain;
}
.swiper-button-prev.swiper-button-red{
	background:url('../../assets/svg/red-prev.svg') no-repeat center / contain;
}
