{% extends 'layout/index.html.twig' %}

{% block main %}
<div class="body">
	<div class="center">
		<div class="title">
			<h1>{{ content.name }}</h1>
		</div>
		<div class="markdown">{{ content.content | markdown }}</div>
	</div>
</div>
{% endblock %}
