{% extends 'base.html.twig' %}

{% block main %}
  <div class="fullscreen">
    <div id="background">
      <video autoplay loop>
        <source src="{{ 'assets/video/waves.mp4' | absolute }}" type="video/mp4">
      </video>
    </div>
    <div id="main" class="center">
      <div id="search">
        <div class="search-input">
          <input type="text" name="Search" placeholder="What do you want to do?">
        </div>
        <div class="categories">
          <div class="holder">
            <span>Suggestions</span>
            <ul>
              {% for each in suggestion %}
                <li>{{ each.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="results">
        </div>
      </div>
      <div class="text-center">
        <a onclick="findHoliday()" id="find-holiday" class="text-shadow">
          <span class="info"></span>
          <span>Discover your holiday</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}home{% endblock %}
