{% extends 'base.html.twig' %}

{% block main %}
  <section class="center content">
    <h1>{{ content.name }}</h1>
    <div class="markdown subdivision">{{ content.content | markdown }}</div>
  </section>
{% endblock %}
